html {
  scroll-behavior: smooth;
}

vellum-doc::part(index) {
  margin-top: 1.6rem;
  padding-right: 1em;
  padding-left: 1em;
  border-right: none;
}

article#document {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article#document > section {
  width:100%;
}

article#document > section:has(h4:first-child) {
  width: 47%;
}
